.app_header {
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(to bottom, #3D28AA, #6f53f8);
    border-bottom-left-radius:100% 30%;
    border-bottom-right-radius: 100% 30% ;   
}

.app_header > form {
    width: 60%;
}

.task_input {
    font-size: 18px;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    margin-bottom: 15px;
    width: 100%;
}

.task_input:focus {
    outline:solid #6457f9 ;
}

.task_input::placeholder {
    color: #6457f9;
    font-size: medium;
}

.task_form_buttom_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.task_status {
    font-style: 15px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    padding: 0 5px;
    color: #6457f9;
    font-weight: 600;
}

.tags {
    display: flex;
}

.task_submit {
    font-style: 16px;
    font-weight: 500;
    background-color: #6457f9;
    color: #fff;
    border-radius: 5px;
    height: 40px;
    padding: 3px 13px;
    margin-left: 10px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}